/* Placeholder. Overwritten by matugen once the zebar target is wired up. */
:root {
  --surface: #0e1416;
  --on-surface: #dee3e5;
  --on-surface-variant: #bfc8ca;
  --primary: #83d2e5;
  --on-primary: #00363f;
  --outline: #899295;
}
